/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 4, 2014, 9:39:04 PM
    Author     : DiepBuiHuu
*/

#J_LoginContainer {
    display: none !important;
}
.search-popupmenu.search-menu {
    display: none;
}