/* 
    Document   : order
    Created on : Apr 7, 2014, 4:29:09 PM
    Author     : diepbh
    Description:
        Purpose of the stylesheet follows.
*/

.pro_link_header, .pro_name_header{
    width: 200px;
}
thead {
    background-color: #C7DEFE;
}
.wid200 {
    width: 200px;
    overflow-x: scroll;
}
.username_header {
    width: 200px;
}