/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 4, 2014, 8:46:41 PM
    Author     : DiepBuiHuu
*/


#register_form{
    margin-top: 100px;
    margin-left: 150px;
}

#register_form input {
    width: 300px;
    height: 30px;
}
.alert {
    display: none;
}
#error-message {
    font-weight: bold;
    color: red;
}

.select_title{
    width: 100px;
    float: left;
}